<div class="text group">
  <h3>Postleitzahl: {{ task.plz }}</h3>
  <label>Beschreibung</label>
  <span>{{ task.category | categoryParser }}</span>
  <label>Telefonnummer</label>
  <span>{{ task.phone | hideNumber}}</span>
  <label>Uhrzeit</label>
  <span>{{ task.timestamp | date: "dd.MM.yyyy 'um' HH:mm 'Uhr'" }}</span>
  <form onsubmit="return false">
    <div class="multioption">
      <!--
      <input
        class="button_negative"
        type="submit"
        name="reject"
        value="Ausblenden"
        (click)="reject.emit(task)"
      />
      -->
      <input
        class="button_positive"
        type="submit"
        name="accept"
        value="Annehmen"
        (click)="accept.emit(task)"
      />
    </div>
  </form>
</div>

