.text {
  width: auto;
  /* max-width: 400px; */
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  color: #222222;
  background: #ffffff;
  border-radius: 15px;
  text-align: justify;
}

.text a {
  color: #fc716e;
  text-decoration: none;
}

.text a:hover {
  text-decoration: underline;
}

.text form {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.text form input {
  display: block;
  width: 100%;
  font-family: "Open Sans";
  font-size: 20px;
  margin-bottom: 15px;
  padding: 3px;
  border: 0;
  border-bottom: 2px solid #d6e7ff;
  box-sizing: border-box;
}

.text form input[type="submit"] {
  width: auto;
  margin-left: auto;
  margin-right: 0;
  background: #fc716e;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  font-weight: 600;
}

.text form .multioption {
  text-align: right;
}

.text form .multioption input {
  display: inline-block;
}

.text form .multioption .button_positive {
  /* inherit normal button design */
}

.text form .multioption .button_negative {
  /* inherit normal button design */
  border: 2px solid #d6e7ff;
  background: transparent;
  color: #b0d1ff;
  box-sizing: border-box;
}

.text label {
  display: block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
}

.text span {
  display: block;
  margin-bottom: 15px;
}

h1,
h2,
h3 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.text hr {
  display: block;
  width: 100px;
  height: 1px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #fc716e;
  border: 0;
}

.group {
  margin: 16px;
}
