<div class="text group">
  <p>
    Vielen Dank, dass Du Dich dafür bereit erklärst zu helfen! Hier findest du
    noch einmal die Details sowie die Telefonnummer für deinen Auftrag.
  </p>
  <h3>Postleitzahl: {{ task.plz }}</h3>
  <label>Beschreibung</label>
  <span>{{ task.category | categoryParser }}</span>
  <label>Telefonnummer</label>
  <span>{{ task.phone }}</span>
  <label>Uhrzeit</label>
  <span>{{ task.timestamp | date: "dd.MM.yyyy 'um' HH:mm 'Uhr'" }}</span>
  <form onsubmit="return false">
    <input
      class="button_positive"
      type="submit"
      value="Schließen"
      (click)="closeEvent.emit()"
    />
  </form>
</div>
