/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
  background-color: #d6e7ff;
  font-size: 20px;
  font-family: "Open Sans";
}

.menuBar {
  margin-top: 15px;
  width: 100%;
  height: auto;
}

.menuItems {
  width: 100%;
  text-align: center;
}

.menuItem {
  display: inline-block;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.menuItem a {
  display: block;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background: #fc716e;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
}

.header {
  width: 100%;
  height: auto;
}

.logoWrapper {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

img#logo {
  width: 100%;
  height: 100%;
}

.contentWrapper {
  width: 100%;
  margin-top: 50px;
  font-family: "Open Sans";
}

.contentWrapper .text {
  width: auto;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  color: #222222;
  background: #ffffff;
  border-radius: 15px;
  text-align: justify;
}

.contentWrapper .text a {
  color: #fc716e;
  text-decoration: none;
}

.contentWrapper .text a:hover {
  text-decoration: underline;
}

.contentWrapper .text form {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.contentWrapper .text form input {
  display: block;
  width: 100%;
  font-family: "Open Sans";
  font-size: 20px;
  margin-bottom: 15px;
  padding: 3px;
  border: 0;
  border-bottom: 2px solid #d6e7ff;
  box-sizing: border-box;
}

.contentWrapper .text form input[type="submit"] {
  width: auto;
  margin-left: auto;
  margin-right: 0;
  background: #fc716e;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  font-weight: 600;
}

.contentWrapper .text form .multioption {
  text-align: right;
}

.contentWrapper .text form .multioption input {
  display: inline-block;
}

.contentWrapper .text form .multioption .button_positive {
  /* inherit normal button design */
}

.contentWrapper .text form .multioption .button_negative {
  /* inherit normal button design */
  border: 2px solid #d6e7ff;
  background: transparent;
  color: #b0d1ff;
  box-sizing: border-box;
}

.contentWrapper .text label {
  display: block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contentWrapper .text span {
  display: block;
  margin-bottom: 15px;
}

.contentWrapper h1,
h2,
h3 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.contentWrapper .text hr {
  display: block;
  width: 100px;
  height: 1px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #fc716e;
  border: 0;
}

.contentWrapper .group {
  margin-bottom: 50px;
}
