

.menuBar {
  margin-top: 15px;
  width: 100%;
  height: auto;
}

.menuItems {
  width: 100%;
  text-align: center;
}

.menuItem {
  display: inline-block;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.menuItem a {
  display: block;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background: #fc716e;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
}
