<div class="siteWrapper">
  <div class="header">
    <div class="logoWrapper">
      <img id="logo" width="300" alt="OmaPhon" src="assets/oma.png" />
    </div>
  </div>
  <div class="contentWrapper">
    <div class="text group">
      <h3>Liebe Helferinnen und Helfer</h3>
      <p>
        Wir freuen uns, dass ihr euch bereit erklärt, hilfsbedürftige Menschen
        zu unterstützen! Damit ihr dabei aber keiner unnötigen Gefahr ausgesetzt
        seid, möchten wir euch bitten, die folgenden Hinweise zu
        berücksichtigen:
      </p>

      <ul>
        <li>
          <b>Haltet Abstand!</b> In jeder Situation, in der ihr in Kontakt mit
          anderen Menschen kommen könnt, minimiert ihr das Infektionsrisiko,
          wenn ihr mindestens <b>1,50 Meter</b> Abstand zu Anderen haltet.
        </li>
        <li>
          Falls ihr gebeten werdet, einkaufen zu gehen,
          <b
            >einigt euch auf einen maximalen Betrag, den der Einkauf kosten
            darf.</b
          >
          So haben die Hilfsbedürftigen eine gewisse Kontrolle über die
          entstehenden Kosten und ihr habt die Sicherheit, dass ihr über den
          entsprechenden Betrag verfügen könnt.
        </li>
        <li>
          Lasst euch immer den <b>Kassenbon</b> geben! Denn nur so könnt ihr
          nachweisen, wie teuer der Einkauf tatsächlich war.
        </li>
        <li>
          Handelt immer im Rahmen der <b>geltenden Gesetze</b> und der
          <b>Empfehlungen der Behörden</b>. Das betrifft insbesondere die
          Empfehlungen des
          <a href="https://rki.de/">Robert-Koch-Instituts</a> und des
          <a href="https://www.bundesgesundheitsministerium.de/"
            >Bundesgesundheitsministeriums</a
          >.
        </li>
        <li>
          <b>Bleibt gesund!</b> Denkt immer daran, dass eure eigene Gesundheit
          stets am Wichtigsten ist.
        </li>
      </ul>

      <p>
        Mit dem nachfolgenden Button bestätigt ihr, dass ihr die
        Verhaltensregeln gelesen habt und diesen zustimmt.
      </p>
      <form action="/tasks" method="get">
        <input type="submit" value="Zustimmen und akzeptieren" />
      </form>
    </div>
  </div>
</div>

<app-impressum-banner></app-impressum-banner>
