<div class="siteWrapper">
  <div class="header">
    <div class="logoWrapper">
      <img id="logo" width="300" alt="OmaPhon" src="assets/oma.png" />
    </div>
  </div>

  <div class="menuBar">
    <div class="menuItems">
      <div class="menuItem">
        <a [routerLink]="['']">Startseite</a>
      </div>
    </div>
  </div>

  <div class="contentWrapper">
    <div class="text group">
      <h1>Was ist das hier alles?</h1>
      <p>
        Das OmaPhon ist ein Projekt, das im Rahmen des
        <a href="https://wirvsvirushackathon.org/">#wirVsVirus Hackathons</a>
        entwickelt wurde. Das Ziel dieses Projekts ist, hilfsbedürftige Personen
        mit hilfsbereiten Personen zusammenzubringen. Dazu verwenden wir
        zielgruppengerechte Schnittstellen: Während freiwillige Helferinnen und
        Helfer häufig Zugang zu einem Smartphone besitzen, ist insbesondere die
        Risikogruppeder Über-60-Jährigen nicht immer mit moderner Technik
        vertraut. Hilfegesuche können daher über eine Telefonhotline aufgegeben
        werden und über ein mobiles Webportal werden die Hilfegesuche an
        freiwillige Helferinnen und Helfer verteilt.
      </p>

      <h2>Für Hilfsorganisationen/Vereine</h2>
      <p>
        Sie haben eine eigene Plattform, um Nachbarschaftshilfe zu ermöglichen?
        Sie sind ein öffentlicher Verein, der lokal die Risikogruppen vor Ort 
        unterstützen kann? Mit Hilfe von OmaPhon können wir Sie in ihrerem Kiez 
        / Veedel zusammenbringen. .  Die Benutzer von OmaPhon, die durch unsere 
        Hotline gespeichert werden, können Sie bequem durch unsere API 
        erreichen. Dabei werden Ihnen die Daten in anonymisierter Form 
        überlassen.
      </p>
      <p>
        Diese Daten können Sie dann individuell für ihre Hilfestellung 
        weiterverwenden, damit Sie ihr Ehrenamt, auch an der Richtigen Stelle 
        angenommen werden kann. Falls Sie einen unser Hilfsbedürftigen 
        unterstützen können, bitten wir Sie uns erneut mit ihren Helfern zu 
        kontaktieren, sodass wir den Kontakt herstellen. Bitte respektieren Sie, 
        dass wir keine personenbezogenen Daten an Dritte rausgeben können. 
        Alle Informationen zu dieser Funktion finden Sie hier in unserer API 
        Dokumentation.
      </p>
      <h4>GET http://omaphon.de:8900/tasks</h4>
      Eine genaue Definition der API (und auch diverser 
      anderer Dinge) befindet sich im  <a href="https://gitlab.com/SirGibihm/omaphon/">gitlab</a>.
      <p>
        Momentan gibt es lediglich einen Endpunkt. Dieser liefert die gesamte
        Anzahl an Hilfesuchenden, die sich momentan in unserer Datenbank 
        enthalten ist.
      </p>
      <h2>Für Privatpersonen</h2>
      <h3>Wie kann ich mitmachen?</h3>
      <p>
        Ganz einfach: Registriere dich mit deinem Namen, deiner Mailadresse und
        deinerPostleitzahl. Nach der Anmeldung kannst du Hilfegesuche einsehen
        und dir diese zuweisen. Vielen Dank für Deinen Einsatz schonmal vorab!
      </p>

      <h3>Welche Art von Hilfe kann ich anbieten?</h3>
      <p>
        Du kannst deine Hilfe bei folgenden Aktivitäten einbringen: Einkaufen
        von Lebensmitteln oder Hygieneartikeln, Besorgen von Arzneimitteln, Gang
        zur Post, Betreuung von Tieren oder der Grabpflege.
      </p>

      <h3>Wie werde ich über benötigte Hilfe informiert?</h3>
      <p>
        Sobald ein Hilfegesuch bei uns eingeht, werden wir diesen auf unserer
        Plattform einstellen. Bitte prüfe regelmäßig, ob du aktuelle Gesuche
        annehmen kannst.
      </p>

      <h3>
        Wie wird der Kontakt zwischen mir und einer hilfsbedürftigen Person
        aufgebaut?
      </h3>
      <p>
        Wenn du ein Hilfegesuche annimmst, wird dir im Anschluss die 
        Telefonnummer einer Kontaktperson angezeigt. Diese kannst du anrufen, um 
        alles weitere zu klären. Um für ein sichere miteinander und 
        Vertrauenvollen Umgang zu sorgen, kannst Du mit der OmaPhon Benutzer ein 
        Codewort mitteilen, welches aus zwei zusammengesetzt Worten bestehen 
        kann, wie „lachender Goldfisch“ (Adjektive + Tier).  
      </p>
      <p>
        So weiß  die oder der OmaPhon Benutzer, dass du der helfende 
        Freiwilliger der OmaPhon Plattform bist.
      </p>
      <h3>
        Muss ich spezielle Anforderungen erfüllen um meine Hilfe anzubieten?
      </h3>
      <p>
        Du solltest mindestens 16 Jahre alt sein, keine Krankheitssymptome 
        aufweisen und dich innerhalb der letzten Tage verantwortungsbewusst vor 
        möglichen Infektionsrisiken geschützt haben. Sollten die Kriterien 
        erfüllt sein, freuen sich alle über deine Hilfe!
      </p>

      <h3>
        Ist es ein Problem, wenn ich meine Hilfe nur innerhalb eines begrenzten
        Zeitfensters anbieten kann?
      </h3>
      <p>
        Nein, das ist kein Problem. Wenn du einmal keine Zeit hast, werden wir 
        einen anderen Helfer kontaktieren.
      </p>

      <h3>
        Verpflichtet mich meine Registrierung zur Annehme von Hilfegesuchen?
      </h3>
      <p>
        Nein, du kannst jederzeit frei entscheiden, ob und wie viele 
        Hilfegesuche du annehmen möchtest.
      </p>

      <h3>Werde ich für meine Hilfe entlohnt?</h3>
      <p>
        Wir bauen in Zeiten wie diesen auf die Solidarität in der Gesellschaft. 
        Alle Ausgaben, die für den Einkauf oder bei der Post entstehen, sollen 
        vom Hilfesuchenden übernommen werden. Bitte kläre als Helfer im 
        Vorhinein den maximalen Ausgabebetrag ab und bewahre sämtliche Belege 
        gut auf.
      </p>
    </div>
  </div>
</div>

<app-impressum-banner></app-impressum-banner>
