<div class="menuBar">
  <div class="menuItems">
    <div class="menuItem">
      <a [routerLink]="['']">Logout</a>
    </div>
  </div>
</div>

<app-task
  *ngFor="let task of tasks$ | async"
  [task]="task"
  (accept)="accept(task)"
  (reject)="reject(task)"
></app-task>

<app-task-popup
  *ngIf="selectedTask as task"
  [task]="task"
  (closeEvent)="close()"
></app-task-popup>

<app-impressum-banner></app-impressum-banner>
