<div class="logoWrapper">
  <img id="logo" width="300" alt="OmaPhon" src="assets/oma.png" />
</div>

<div class="menuBar">
  <div class="menuItems">
    <div class="menuItem">
      <a [routerLink]="['']" fragment="project">Das Projekt</a>
    </div>
    <div class="menuItem">
      <a [routerLink]="['']" fragment="participate">Mitmachen</a>
    </div>
    <div class="menuItem">
      <a [routerLink]="['']" fragment="login">Login</a>
    </div>
    <div class="menuItem">
      <a [routerLink]="'/faq'">FAQ</a>
    </div>
  </div>
</div>

<div class="contentWrapper">
  <div id="project" class="text group">
    <h3>Das Projekt</h3>
    <p>
      Das OmaPhon ist ein Projekt, das im Rahmen des
      <a href="https://wirvsvirushackathon.org/">#wirVsVirus Hackathons</a>
      entwickelt wurde. Das Ziel dieses Projekts ist, hilfsbedürftige Personen
      mit hilfsbereiten Personen zusammenzubringen. Dazu verwenden wir
      zielgruppengerechte Schnittstellen: Während freiwillige Helferinnen und
      Helfer häufig Zugang zu einem Smartphone besitzen, ist insbesondere die
      Risikogruppeder Über-60-Jährigen nicht immer mit moderner Technik
      vertraut. Hilfegesuche können daher über eine Telefonhotline aufgegeben
      werden und über ein mobiles Webportal werden die Hilfegesuche an
      freiwillige Helferinnen und Helfer verteilt. <br>
      Du brauchst Hilfe? Ruf uns einfach an unter +1 206 222 2060 und einer 
      unser Helfer meldet sich bei dir!
    </p>
  </div>
  <div id="participate" class="text group">
    <h3>Mitmachen</h3>
    <p>
      Du hast Lust mitzumachen? Super! Dann scrolle einfach nach unten und registriere
      dich bei OmaPhon. Wenn du Fragen hast dann schaue dir die FAQs an oder schreib uns
      eine Nachricht.
    </p>
  </div>
  <div id="login" class="text group">
    <h3>Anmelden</h3>
    <p>Schon als Helfer registriert? Hier geht's kannst du dich einloggen!</p>
    <!-- <app-login class="login"></app-login> -->
    <form action="/tasks" method="get">
      <input type="text" placeholder="Username" />
      <input type="password" placeholder="Kennwort" />
      <input type="submit" value="Login" />
    </form>
    <hr />
    <p>
      Noch nicht registriert? Dann fülle folgendes Formular aus, um dich zu
      registrieren!
    </p>
    <form action="/onboarding" method="get">
      <input type="text" placeholder="Mailadresse" />
      <input type="text" placeholder="Username" />
      <input type="password" placeholder="Kennwort" />
      <input type="password" placeholder="Kennwort wiederholen" />
      <input type="text" placeholder="Postleitzahl" />
      <input type="submit" value="Registrieren" />
    </form>
  </div>
</div>

<app-impressum-banner></app-impressum-banner>
