<!--The content below is only a placeholder and can be replaced.-->
<!--
<nav >
  <a class="routing" routerLink="/home">Home</a>
  <a class="routing" routerLink="/tasks">Tasks</a>
</nav>
-->

<router-outlet></router-outlet>
