:host {
  display: block;
  height: 100%;
}

.routing{
  background-color: #34a1eb;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  margin-top: 16px;
  margin-left: 8px;
}